{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock %}

{% block content %}
<!-- Black bg for mobile screen size -->
<div class="container-fluid d-lg-none w-100 p-0">
    <div class="profile-overlay"></div>
</div>
<!-- Profile Image Banner -->
<div class="jumbotron jumbotron-fluid text-center m-0 p-0 pt-lg-3" id="profile-banner">
    <img class="img-fluid" src="{% static "images/profilepic3.jpg" %}" alt="">
</div>

<!-- Profile body -->
<div class="container">
    <!-- Membership Title -->
    <div class="col-12 text-center text-uppercase my-4">

        <h1 class="profile-welcome">Membership Subcription<br>

        </h1>


    </div>
    <hr class="my-4">

    <div class="row text-center text-uppercase">
        {% for membership in membership %}
        <div class="col-6">
            <a href="{% url 'membership_detail' membership.id %}" class="btn">
                <h2 class="user-profile bg-yellow px-2">{{ membership }}</h2>
            </a>
            <h2 class="user-profile bg-yellow px-2">€{{ membership.price }}</h2>
            <a href="">
                <img class="card-img-top img-fluid" src="{{ monthly }}" alt="">
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}