{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}
<!-- Black bg for mobile screen size -->
<div class="container-fluid d-lg-none w-100 p-0">
    <div class="profile-overlay"></div>
</div>
<!-- Blog Image Banner -->
<div class="jumbotron jumbotron-fluid text-center m-0 p-0 pt-lg-3" id="profile-banner">
    <img class="img-fluid" src="{% static "images/profilepic3.jpg" %}" alt="">
</div>

<!--  blog details body -->
<div class="container">
    <!-- blog Title -->
    <div class="col-12 text-center text-uppercase my-5">

        <h1 class="blog-title">{{ blog.title }}</h1>
    </div>

    <!-- Main Blog Body -->
    <div class="col-12 px-5">
        <div class="card border-0">
            <div class="blog-image my-3">
                {% if blog.image %}
                <img class="card-img h-50 w-50" src="{{ MEDIA_URL }}{{ item.image }}" alt="No Image">
                {% else %}
                <img class="card-img" src="{% static "images/thelab.jpg" %}" alt="No Image">
                {% endif %}
            </div>
            <hr>
            <div class="card-body">
                <p class="blog-user"><i class="fas fa-user-edit"></i>
                    {{ blog.creator }}</p>
                <p class="card-text"><small class="text-muted">{{ blog.published_date }}</small></p>
                <p class="card-text my-5">{{ blog.content }}</p>
            </div>
            <hr>
        </div>
    </div>

    <!-- Edit and Back buttons -->
    <div class="col-12 mb-5 px-5">
        <button class="add-btn btn bg-yellow border-black rounded-0 text-uppercase mt-2 float-left" type="button"
            data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Leave a comment
        </button>
        {% if profile.user.name == blog.user %}
        <a class="add-btn btn bg-yellow border-black rounded-0 text-uppercase mt-2 float-right"
            href="{% url 'edit_blog_post' pk=blog.id %}" role="button">Edit Post</a>
        {% endif %}
        <a href="{% url 'blog' %}" class="check-btn btn border-yellow rounded-0 mt-2 float-right  mx-2">
            <span class="text-uppercase"><i class="fas fa-caret-left fa-lg"></i>
                Back</span>
        </a>
    </div>
    <!-- Comments form -->
    <div class="col-12 collapse my-3 border-0" id="collapseExample">
        <div class="card card-body border-0">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row pl-3 m-auto">
                    <div class="form-group col-12">
                        {{ form.name|as_crispy_field }}
                    </div>
                    <div class="form-group col-12 ">
                        {{ form.content|as_crispy_field }}
                    </div>
                    <div class="col-md-auto">
                    </div>
                </div>
                <button type="submit"
                    class="add-btn btn bg-yellow border-black rounded-0 text-uppercase mt-2 float-right">Post
                    Comment</button>
            </form>
        </div>
    </div>
    <!-- Show comments card-->
    <div class="col-12 blog-comments mx-auto p-0">
        <div class="card border-0 m-auto w-100">
            <div class="card-header border-0">Comments</div>
            {% if comments %}
            {% for comment in comments %}
            <div class="card-body">
                <p class="card-text"><i class="fas fa-user-edit"></i> : {{ comment.name }}</p>
                <p class="card-text">{{ comment.content }}</p>
                <p class="card-text">{{ comment.created_date }}</p>
                <p class="card-text"></p>
                <p class="card-text"></p>
            </div>
            <hr>
            {% endfor %}
            {% else %}
            <div class="card-body">
                <h5 class="card-title">No comments added. Why not be the first!</h5>
            </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}