{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="main-header">
    <div class="container">
        <div class="row">
            <div class="col s12 main-text">
                <div class="col-7 col-md-6 my-auto">
                    <h1 class="display-4 logo-font text-white">Lift and Build</h1>

                    <div class="my-5">
                        <h4>
                            <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 bg-orange">Join
                                Now!</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row box-row">

        <div class="col col-sm-6">
            <div class="p-2 p-0-sm mb-4-sm row end">
                <a href="" class="box">
                    <p class="color-text-dark text-bold text-sm">From Home</p>
                    <h3 class="my-0 box__text">Join our live stream for $15</h3>
                    <svg>
                        <use href="#arrow"></use>
                    </svg>
                </a>
            </div>
        </div>

        <div class="col col-sm-6">
            <div class="p-2 p-0-sm row">
                <a href="" class="box">
                    <p class="color-text-dark text-bold text-sm">View Schedule</p>
                    <h3 class="my-0 box__text">Reserve a class</h3>
                    <svg>
                        <use href="#arrow"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}