{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-12 main-text">
                <div class="col-7 col-md-6 my-auto">
                    <h1 class="display-4 logo-font text-white"><span class="home-title">L</span>ift <span
                            class="home-title">A</span>nd
                        <span class="home-title">B</span>uild</h1>

                    <div class="my-5">
                        <h4>
                            <a href="{% url 'all_membership' %}"
                                class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 bg-orange">Join
                                Now!</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row box-row">
        <div class="col col-sm-6">
            <div class="p-2 p-0-sm mb-4-sm row end">
                <div class="box">
                    <p>From Home</p>
                    <h3 class="mb-5 text-box">Join our live stream from €15</h3>
                </div>
            </div>
        </div>

        <div class="col col-sm-6">
            <div class="p-2 p-0-sm row">
                <div class="box">
                    <p>View Schedule</p>
                    <h3 class="mb-5 text-box">Reserve a class now!</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About -->
<section id="about" class="section section-about blue-grey darken-4 scrollspy">
    <div class="container pt-5">
        <div class="p-4 bg-color-light">
            <h3 class="about-title py-4 text-center text-uppercase letter-spacing">The Lab</h3>
            <div class="row">
                <div class="col-12 col-md-6 p-4">
                    <p class="my-md-5 h2 text-center">"You are unstoppable."</p>
                    <p class="my-md-5 h2 text-center">"Your body is a temple and your health is your wealth."</p>
                </div>

                <div class="col-12 col-md-6 p-4">
                    <div class="text-right">
                        <p class="paragraph">
                            Your body is a temple and your health is your wealth
                            The statements may be passe but here
                            at the Lab we believe
                            passionately in these ideas. Offering state-of-the-art gym facilities, a wide range of
                            classes, and dedicated
                            professional personal trainers, we aim to share our love of exercise and a healthy lifestyle
                            with all our clients.
                            All our classes are taught by experienced trainers, with box-fit, spin, tabata, yoga and
                            circuit classes, along with
                            individual weight training and personalised fitness programmes tailored to your personal
                            needs and goals. In addition to
                            training facilities we have a well-stocked shop selling a wide range of personal training
                            equipment which can be bought
                            in store or online. Browse the shop here or view timetables to find a class suitable for
                            you.
                            At the Lab we want to create a cooperative environment where we encourage and support each
                            other. Call into our city
                            centre location to chat to one of us today about starting a programme or joining a class.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="programs">
    <div class="program-cards">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="program-header">
                        <h3 class="py-4 text-center text-uppercase letter-spacing">OUR PROGRAM</h3>
                    </div>

                    <div class="program-flash-card">
                        <div class="row">
                            <div class="col-sm-4 item">
                                <div class="item-content maxheight">
                                    <div class="block flash-image1 maxheight">
                                        <!-- Content -->
                                        <figure class="item-img">
                                            <img src="{% static "images/boxing-class.jpg" %}" alt="">
                                            <div class="image-content">
                                                <!-- Content title -->
                                                <h3 class="image-content-title">
                                                    <a href=""><span>BOXING</span>
                                                        <span>LAB</span></a>
                                                </h3>
                                            </div>
                                        </figure>
                                    </div>
                                    <div class=" block flash-image2 maxheight">
                                        <!-- Content -->
                                        <figure class="item-img">
                                            <img src="{% static "images/home.jpg" %}" alt="">
                                            <div class="image-content">
                                                <div class="top-content">
                                                    <!-- Content title -->
                                                    <h3 class="image-content-title">
                                                        <a href=""><span>BOXING</span>
                                                            <span>LAB</span></a>
                                                    </h3>
                                                    <!-- Content text -->
                                                    <div class="top-content-text">
                                                        <p>At Muscle, we teach functional movements
                                                            with emphasis on
                                                            technique, progression, and efficiency.
                                                            Our belief is
                                                            that
                                                            while CrossFit isn’t for everyone,
                                                            anyone can do
                                                            CrossFit.
                                                        </p>
                                                        <p>At Muscle, we teach functional movements
                                                            with emphasis on
                                                            technique, progression, and efficiency.
                                                            Inexhaustible
                                                            ways
                                                            to adapt a workout to individual
                                                            athletes’ abilities.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="bottom-content">
                                                    <!-- Read More link -->
                                                    <a class="btn-block readmore" href=""><span>Read
                                                            more</span></a>
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 item">
                                <div class="item-content maxheight">
                                    <div class="block flash-image1 maxheight">
                                        <!-- Content -->
                                        <figure class="item-img">
                                            <img src="{% static "images/grouplab.jpg" %}" alt="">

                                            <div class="image-content">
                                                <!-- Content title -->
                                                <h3 class="image-content-title">
                                                    <a href=""><span>FITNESS</span>
                                                        <span>LAB</span></a>
                                                </h3>
                                            </div>
                                        </figure>
                                    </div>
                                    <div class="block flash-image2 maxheight">
                                        <!-- Content -->
                                        <figure class="item-img">
                                            <img src="{% static "images/home.jpg" %}" alt="">
                                            <div class="image-content">
                                                <div class="top-content">
                                                    <!-- Content title -->
                                                    <h3 class="image-content-title">
                                                        <a href=""><span>FITNESS</span>
                                                            <span>LAB</span></a>
                                                    </h3>
                                                    <!-- Content text -->
                                                    <div class="top-content-text">
                                                        <p>At Muscle, we teach functional movements with
                                                            emphasis on
                                                            technique, progression, and efficiency. Our belief
                                                            is
                                                            that
                                                            while CrossFit isn’t for everyone, anyone can do
                                                            CrossFit.
                                                        </p>
                                                        <p>At Muscle, we teach functional movements with
                                                            emphasis on
                                                            technique, progression, and efficiency.
                                                            Inexhaustible
                                                            ways
                                                            to adapt a workout to individual athletes’
                                                            abilities.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="bottom-content">
                                                    <!-- Read More link -->
                                                    <a class="btn-block readmore" href=""><span>Read
                                                            more</span></a>
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 item">
                                <div class=" item-content maxheight">
                                    <div class="block flash-image1 maxheight">
                                        <!-- Content -->
                                        <figure class="item-img">
                                            <img src="{% static "images/spin1.jpg" %}" alt="">

                                            <div class="image-content">
                                                <!-- Content title -->
                                                <h3 class="image-content-title">
                                                    <a href=""><span>SPIN</span>
                                                        <span>LAB</span></a>
                                                </h3>
                                            </div>
                                        </figure>
                                    </div>
                                    <div class="block flash-image2 maxheight">
                                        <!-- Content -->
                                        <figure class="item-img">
                                            <img src="{% static "images/home.jpg" %}" alt="">

                                            <div class="image-content">
                                                <div class="top-content">

                                                    <!-- Content title -->
                                                    <h3 class="image-content-title">
                                                        <a href=""><span>SPIN</span>
                                                            <span>LAB</span></a>
                                                    </h3>
                                                    <!-- Content text -->
                                                    <div class="top-content-text">
                                                        <p>At Muscle, we teach functional movements with
                                                            emphasis on
                                                            technique, progression, and efficiency. Our belief
                                                            is
                                                            that
                                                            while CrossFit isn’t for everyone, anyone can do
                                                            CrossFit.
                                                        </p>
                                                        <p>At Muscle, we teach functional movements with
                                                            emphasis on
                                                            technique, progression, and efficiency.
                                                            Inexhaustible
                                                            ways
                                                            to adapt a workout to individual athletes’
                                                            abilities.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="bottom-content">
                                                    <!-- Read More link -->
                                                    <a class="btn-block readmore" href=""><span>Read more</span></a>
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="section section-contact blue-grey darken-4 scrollspy">
    <div class="container">
        <div class="p-4 bg-color-light">

            <div class="contact-form pb-1">
                <h3 class="contact-title py-4 text-center text-uppercase letter-spacing">Have a question? Contact
                    us!
                </h3>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="card">
                            <div class="card-header bg-yellow">GET IN TOUCH</div>
                            <div class="card-body text-dark p-3">
                                <form>
                                    <div class="form-group">
                                        <i class="far fa-user"></i>
                                        <label for="form-name">Name</label>
                                        <input type="text" class="form-control" id="form-name" placeholder="Your Name">
                                    </div>
                                    <div class="form-group">
                                        <i class="far fa-envelope"></i>
                                        <label for="form-email">Email</label>
                                        <input type="text" class="form-control" id="form-email"
                                            placeholder="Email@address.com">
                                    </div>
                                </form>
                                <div class="form-group">
                                    <i class="far fa-edit"></i>
                                    <label for="form-message">Message</label>
                                    <textarea id="form-message" class="form-control" rows="3"
                                        placeholder="Questions/Comments"></textarea>
                                </div>

                                <div class="text-center mt-2">
                                    <button class="border-yellow px-3">SEND</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


{% endblock %}