{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="main-header">
    <div class="container">
        <div class="row">
            <div class="col s12 main-text">
                <div class="col-7 col-md-6 my-auto">
                    <h1 class="display-4 logo-font text-white">Lift and Build</h1>

                    <div class="my-5">
                        <h4>
                            <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 bg-orange">Join
                                Now!</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row box-row">

        <div class="col col-sm-6">
            <div class="p-2 p-0-sm mb-4-sm row end">
                <a href="" class="box">
                    <p class="color-text-dark text-bold text-sm">From Home</p>
                    <h3 class="my-0 box__text">Join our live stream for $15</h3>
                    <svg>
                        <use href="#arrow"></use>
                    </svg>
                </a>
            </div>
        </div>

        <div class="col col-sm-6">
            <div class="p-2 p-0-sm row">
                <a href="" class="box">
                    <p class="color-text-dark text-bold text-sm">View Schedule</p>
                    <h3 class="my-0 box__text">Reserve a class</h3>
                    <svg>
                        <use href="#arrow"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- About -->
<section id="about" class="section section-about blue-grey darken-4 scrollspy">
    <div class="container">
        <div class="p-4 bg-color-light">
            <h3 class="about-title py-4 text-center text-uppercase letter-spacing">The Lab</h3>
            <div class="row">
                <div class="col-6 col-md-6 p-4">
                    <p class="my-0-md h2 h2-sm text-center">You are unstoppable.</p>
                </div>

                <div class="col-6 col-md-6 p-4">
                    <div class="text-right">
                        <p class="paragraph">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi error ex assumenda temporibus
                            nostrum cupiditate excepturi accusantium, asperiores voluptate provident maiores eum laborum
                            sit blanditiis minus iste atque earum a nihil eius, distinctio esse? Perspiciatis
                            voluptatum, molestiae atque in obcaecati corporis nihil illo beatae neque officiis excepturi
                            id totam reprehenderit.</p>
                        <a class="btn btn--arrow" href="/about">
                            Learn More <svg>
                                <use href="#arrow"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="review" class="section section-about blue-grey darken-4 scrollspy">
    <div class="container">
        <div class="p-4 bg-color-light">
            <h3 class="about-title py-4 text-center text-uppercase letter-spacing">The Lab</h3>
            <div class="row">
                <div class="col-6 col-md-6 p-4">
                    <p class="my-0-md h2 h2-sm text-center">You are unstoppable.</p>
                </div>

                <div class="col-6 col-md-6 p-4">
                    <div class="text-right">
                        <p class="paragraph">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi error ex assumenda temporibus
                            nostrum cupiditate excepturi accusantium, asperiores voluptate provident maiores eum laborum
                            sit blanditiis minus iste atque earum a nihil eius, distinctio esse? Perspiciatis
                            voluptatum, molestiae atque in obcaecati corporis nihil illo beatae neque officiis excepturi
                            id totam reprehenderit.</p>
                        <a class="btn btn--arrow" href="/about">
                            Learn More <svg>
                                <use href="#arrow"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}