html {
    /* this  will allow our h100 classes in vertical centering to work. */
    height: 100%;
}

/* body {
    background: url('/static/images/home.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
} */

/* @media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
} */

.content {
    margin-bottom: 5rem;
}

/*  navbar  */
.navbar-toggler {
    background-color: #fff;
}

.bg-dark {
    background: transparent !important;
    transition: 0.75s ease;
}

.bg-dark.scrolled {
    background: #000 !important;
}

/*  home */

.main-header {
    background: url('/static/images/home.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(85vh - 164px);
    min-height: 600px;
    color: #fff;
    position: relative;
}

.display-4 {
    padding-top: 18rem;

}

.box-row {
    position: absolute;
    top: 15%;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 50%);
    transition: transform .25s ease-in-out;
}

.end {
    justify-content: flex-end;
}

.box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 230px;
    width: 230px;
    text-align: center;
    color: #333;
    background-color: #ffd90f;
    box-shadow: 0 30px 10px -20px rgba(0, 0, 0, .3);
    transition: background-color .25s ease-in-out, box-shadow .25s ease-in-out, transform .25s ease-in-out;
    cursor: pointer;
}

.box__text {
    /* font-size: 40px;
    font-size: 2.5rem; */
    letter-spacing: .05em;
    text-transform: uppercase;
}

@media (max-width: 1000px) {

    .box-row {
        margin-top: 35px;
    }
}

@media (max-width: 750px) {

    .box-row {
        margin: auto;
        position: relative;
        transform: translate(-50%, 10%);
    }
}

@media (max-width: 500px) {
    .box {
        width: 100%;
    }

    .col-1-sm {
        width: 100%;
    }
}

/* About */
.letter-spacing {
    letter-spacing: .25em;
}

.bg-color-light {
    background-color: #fafafa;
}

@media (min-width: 751px) {
    .section-about {
        padding-top: 10rem;
        margin-bottom: 3rem;
    }
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-orange {
    background-color: #ff7f00 !important;
}

.btn-outline-black {
    background: white;
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
}


a.category-badge>span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}


/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .navbar-expand-lg {
        padding: 0;
    }
}

@media (max-width: 991px) {


    .main-header {
        height: calc(100vh -116px);
    }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}

/* index programs */
.program-cards {
    background-color: #ffd90f;
    color: #272b2d;
}

.program-cards>.container:not(.container-fullwidth) {
    padding-bottom: 23px;
    padding-top: 73px;
}

.maxheight {
    height: 460px;
}

.item {
    margin-bottom: 60px;
}

.program-flash-card .item-content {
    overflow: hidden;
    position: relative;
}

.item-img img {
    width: 400px;
    height: 400px;
}


@media(min-width: 768px) {
    .program-flash-card .item-content .block {
        position: absolute;
        left: 0;
        top: 0;
        right: 0
    }
}

.program-flash-card .item-content .block .item-img {
    margin-bottom: 0
}

.program-flash-card .item-content .block .image-content-title span {
    display: block
}

.program-flash-card .item-content .block p {
    margin: 0 0 17px
}

.program-flash-card .item-content .block.flash-image1 {
    display: none
}

@media(min-width: 768px) {
    .program-flash-card .item-content .block {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
    }

    .program-flash-card .item-content .block.flash-image1 {
        transform: rotateX(0deg) translateY(0px) scale(1);
        transform-style: preserve-3d;
        transition: all .7s cubic-bezier(.11, .6, .24, .89) 0s;
        z-index: 2;
        display: block
    }
}

.program-flash-card .item-content .block.flash-image1 .image-content {
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%
}

.program-flash-card .item-content .block.flash-image1 .image-content:before {
    content: "";
    display: inline-block;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
    width: 0
}

.program-flash-card .item-content .block.flash-image1 .image-content>div {
    color: #fff;
    display: inline-block;
    max-width: 96%;
    vertical-align: middle
}

.image-content-title a {
    color: #ffc107;
}

.program-flash-card .item-content .block.flash-image1 .image-content>div .image-content-title {
    color: #fff;
    margin-bottom: 0;
    box-shadow: inset 0px 0px 0px 200px rgba(255, 127, 0, .7);
    padding: 5px;
}

.program-flash-card .item-content .block.flash-image1 .image-content>div .image-content-title a {
    color: #000 !important
}

@media(min-width: 768px) {
    .program-flash-card .item-content .block.flash-image2 {
        transform: rotateX(-90deg) translateY(50%) scale(0);
        transform-style: preserve-3d;
        transition: all .5s cubic-bezier(.63, .07, .78, .55) 0s;
        z-index: 1
    }
}

.program-flash-card .item-content .block.flash-image2 .item-img {
    background: #181b1e
}

.program-flash-card .item-content .block.flash-image2 .item-img img {
    opacity: .2;
    filter: alpha(opacity=20)
}

.program-flash-card .item-content .block.flash-image2 .image-content {
    font-size: 14px;
    line-height: 21px;
    color: #999fa3;
    -moz-box-align: stretch;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-pack: center;
    align-items: stretch;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    place-content: center space-between;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 43px 11% 50px
}

.program-flash-card .item-content .block.flash-image2 .image-content .top-content {
    justify-content: flex-start;
    order: 1;
    padding: 0
}

.program-flash-card .item-content .block.flash-image2 .image-content .top-content .image-content-title:after {
    display: block;
    border-bottom: 4px solid #fff;
    margin: 15px auto 0;
    width: 100%;
    max-width: 26px;
    content: ''
}

.program-flash-card .item-content .block.flash-image2 .image-content .bottom-content {
    -moz-box-align: stretch;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-pack: center;
    align-items: stretch;
    display: flex;
    margin-bottom: 0;
    order: 2;
    padding: 0;
    place-content: center
}

.program-flash-card .item-content .block.flash-image2 .image-content .bottom-content .readmore {
    max-width: 189px;
    padding: 10px 30px;
    width: 100%
}

@media (max-width: 979px) and (min-width: 768px) {
    .program-flash-card .item-content .block.flash-image2 .image-content {
        font-size: 0;
        line-height: 0;
        padding: 20px;
    }
}

.program-flash-card .item-content:hover .flash-image1 {
    transform: rotateX(-90deg) translateY(50%) scale(0);
    transform-style: preserve-3d;
    transition: all .5s cubic-bezier(.63, .07, .78, .55) 0s;
    z-index: 1
}

.program-flash-card .item-content:hover .flash-image2 {
    transform: rotateX(0deg) translateY(0px) scale(1);
    transform-style: preserve-3d;
    transition: all .7s cubic-bezier(.11, .6, .24, .89) 0s;
    z-index: 2
}

.mod-newsflash-adv.team .item {
    margin-bottom: 30px
}

.mod-newsflash-adv.team .item .item-content {
    background: #33393e;
    color: #9aa0a4;
    overflow: hidden
}


.mod-newsflash-adv.team .item .item-content .item-img {
    margin: 0
}

.mod-newsflash-adv.team .item .item-content .overflow {
    font-size: 14px;
    line-height: 21px;
    overflow: hidden;
    padding: 50px 30px 10px
}

.mod-newsflash-adv.team .item .item-content .overflow .image-content-title {
    color: #fbe23c;
    margin-bottom: 9px
}

.mod-newsflash-adv.team .item .item-content .overflow .image-content-title:before {
    content: '';
    display: block;
    width: 100%;
    max-width: 26px;
    border-top: 4px solid #fff;
    margin: 0 0 13px
}

.btn-block {
    background: #272b2d;
    text-transform: uppercase;
    color: #ffc107;
    border-radius: 0;
    border: 0 solid transparent;
    font-size: 14px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: .4px;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.mod-newsflash-adv.custom .item-content .block.flash-image2 .image-content .bottom-content {
    -moz-box-align: stretch;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-pack: center;
    align-items: stretch;
    display: flex;
    margin-bottom: 0;
    order: 2;
    padding: 0;
    place-content: center;
}

/* footer */

footer {
    margin-top: 20rem;
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }


}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {


    .main-header {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-white {
        padding-top: 25rem;
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }
}