{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'components/head.html' %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    {% endblock %}

    {% block extra_css %}
    {% endblock %}


    {% block extra_js %}
    {% endblock %}

    <title>The Lab{% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header>
        <div class="container-fluid fixed-top" id="labNav">
            {% include 'components/main-navbar.html' %}
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-light w-100 text-center">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                        aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon text-white"></span>
                    </button>
                    {% include 'components/mobile-top-header.html' %}
                    {% include 'components/mobile-main-navbar.html' %}
                </nav>
            </div>
        </div>
        <!-- <div id="delivery-banner" class="row text-center">
            <div class="col bg-orange text-white">
                <h4 class="logo-font my-1">Join Now!</h4>
            </div>
        </div> -->
    </header>
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        <!-- In Django, a message of level 40 is an error. -->
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        <!-- Level 30 is a warning. -->
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        <!-- Level 25 is success. -->
        <!--  % include 'includes/toasts/toast_success.html' % -->
        {% else %}
        <!-- % include 'includes/toasts/toast_info.html' % -->
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}
    <div class="content">
        {% block content %}

        {% endblock %}
        <div class="top-button bg-yellow border-black">
            <a class="go-top d-flex h-100">
                <i class="fas fa-angle-double-up text-black mx-auto my-auto"></i>
            </a>
        </div>
    </div>

    {% include 'components/footer.html' %}
    {% include 'components/scripts.html' %}


</body>

</html>