<div id="topnav" class="row py-lg-2 d-none d-lg-flex bg-semidark">
    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
        <a href="{% url 'home' %}" class="nav-link main-logo-link bg-white ">
            <h2 class="logo-font text-black my-0"><strong>The Lab</strong></h2>
        </a>
    </div>
    <div class="col-12 col-lg-8   my-auto py-1 py-lg-0 justify-content-end">
        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
            <li class="list-inline-item">
                <a class="text-white nav-link" href="#" aria-haspopup="true" aria-expanded="false">
                    <div class="text-center">
                        <p class="my-0">Join</p>
                    </div>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="text-white nav-link" href="{% url 'products' %}" aria-haspopup="true" aria-expanded="false">
                    <div class="text-center">
                        <p class="my-0">Shop</p>
                    </div>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="text-white nav-link" href="#" aria-haspopup="true" aria-expanded="false">
                    <div class="text-center">
                        <p class="my-0">About</p>
                    </div>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="text-white nav-link" href="#" aria-haspopup="true" aria-expanded="false">
                    <div class="text-center">
                        <p class="my-0">contacts</p>
                    </div>
                </a>
            </li>
            <li class="list-inline-item dropdown">
                <a class="text-white nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <div class="text-center">
                        <div><i class="fas fa-user fa-lg"></i></div>
                    </div>
                </a>
                <!-- The drop-down menu that opens uses several Django template tags -->
                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <a href="" class="dropdown-item">Members Management</a>
                    {% endif %}
                    <a href="{% url 'user' %}" class="dropdown-item">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Member Login</a>
                    {% endif %}
                </div>
            </li>
            <li class="list-inline-item">

                <a class="shop-cart text-white nav-link" href="{% url 'cart' %}">

                    {% if product_count > 0 %}
                    <i class="fas fa-cart-arrow-down fa-lg full"></i>
                    <label class="cart-count">{{ product_count }}</label>
                    {% else %}
                    <div class="text-center">
                        <div><i class="fas fa-shopping-cart fa-lg"></i></div>
                    </div>
                    {% endif %}
                </a>
            </li>
        </ul>
    </div>
</div>